* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}

body {
    background-color: whitesmoke;

}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    margin-bottom: 3rem;
}

.text {
    font-size: 15px;
}

.billing {
    margin-bottom: 10px;
}

.form-label {
    display: block;
}

.input {
    display: flex;
    gap: 1rem;
}

label {
    display: block;
    margin-bottom: 10px;
}

.select {
    display: flex;
    margin-top: 10px;
    gap: 1rem;
}

.expiration {
    display: flex;
    gap: 1rem;
    width: 50%;
}
.expiration input{
    width: 90px;
}

.name-card {
    display: flex;
    gap: 1rem;
}

.name-card input{
    width: 100%;
}
input {
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-checkout {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.cart-text {
    font-weight: bold;
}

.cart-text span {
    font-weight: 500;
    display: block;
    font-size: small;
}

.promo {
    color: green;
}

.cart {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-top: 1px solid gray;
    padding-top: 10px;
}

.wrapper {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
}

.your-cart {
    color: blue;
    font-size: 20px;
}

.redeem {
    background-color: gray;
    color: white;
    border-radius: 0 5px 5px 0;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.number {
    background-color: blue;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.promo-code{
    border: none;
    margin-bottom: 0;
}
.cart-type{
    border-top: none;
}
.cart-product{
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
}
.cart-cart{
    border-top: none;
    margin-top: 0;
}
.input-name{
    width: 50%;
}
.location{
    padding: 10px;
}
.country, .country select, .country input{
    width: 100%;
}
.shipping{
    padding-top: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.shipping li{
    display: flex;
}
.input-width input{
    width: 100%;
}
.card-width{
    width: 100%;
}
.payment{
    margin: 20px 0;
}